/*
 * => COLOR VARS & MIXINS
 * ---------------------------------------------------------------------------*/

/* Set the main site colors here. This will be used to auto-generate classes elsewhere. */
$mainColors: (
	'white': #ffffff,
	'black': #000000,
	'orange':#ff6d00,
  'lightorange': #f19330,
	'blue':  #003399,       
  'lightblue': #346bba,
	'gray':  #7f7d7b,
  'lightgray': #aaa7a5,
  'green': #339933
);

// return color value from given key
@function color($key) {
  @if map-has-key($mainColors, $key) {
    @return map-get($mainColors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// Usage - bacground-color: color('white');


/*
 * => BOOTSTRAP VARIABLES OVERRIDES
 * ---------------------------------------------------------------------------*/

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$font-size-base:          16px;